# Packages needed in the Jupyter Notebooks in the examples directory, installed by repo2docker (e.g. mybinder) 
numpy==1.17.2
matplotlib==3.1.1
scikit-learn==0.21.3
pandas==0.25.1
fpdf2==2.3.0
PyPDF2==1.26.0
